@media print {
    @page {
        size: A4;
    }

    body {
        font-size: 12pt;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .wrapper,
    .main-wrapper,
    .sidebar-wrapper {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    img.avatar {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .main-wrapper .time {
        float: right;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
    }

    .remove-container.container-block {
        display: none;
    }

    footer {
        display: none;
    }

    .skillset .level-bar-inner {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .fa-inverse,
    .fa-inverse:after,
    .fa-inverse:before {
        color: #ffffff !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
